---
layout: page
title: Contact
permalink: /contact/
tags: contact
---

<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                </div>
            </div>
            {% for group in site.data.people %}
            {% if group.group_name == 'Alumni' %}
            {% elsif group.members.size > 0 %}
                <div class="row">
                    <h3 class="section-heading">{{ group.group_name }}</h3>
                    {% assign members = group.members | sort: 'last_name' %}
                    <div id="team-row-wrap">
                    {% for member in members %}
                        <div class="col-sm-3">
                        <div class="team-member">
                            <img src="img/team/{{ member.pic }}" class="img-responsive img-circle"
                                alt="" width=200 height=200>
                            <h4>{{ member.first_name }} {{ member.last_name }}</h4>
                            <p class="text-muted">{{ member.position }}</p>
                            <ul class="list-inline social-buttons">
                                {% for network in member.social %}
                                <li>
                                    <a href="{{ network.url }}">
                                        {% if network.title == "website" %}
                                            <i class="fa fa-globe"></i>
                                        {% else %}
                                            <i class="fa fa-{{ network.title }}"></i>
                                        {% endif %}
                                    </a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>

<div class="py2">
  {% if site.ajaxify_contact_form %}
    <form class="form-stacked">
      <label>
        Email
        <input type="text" name="email" class="field-light" placeholder="{{ site.text.contact.email }}">
      </label>

      <label>
        Content
        <textarea type="text" name="content" class="field-light" rows="5" placeholder="{{ site.text.contact.content }}" style="resize: vertical"></textarea>
      </label>

      <input type="text" name="_gotcha" style="display:none" />

      <button type='submit' class="button button-blue button-big mobile-block">{{ site.text.contact.submit }}</button>
    </form>
  {% else %}
    <form action="https://formspree.io/{{ site.email }}" method="POST" class="form-stacked">
      <label>
        Email
        <input type="text" name="email" class="field-light" placeholder="{{ site.text.contact.email }}">
      </label>
      <label>
        Content
        <textarea type="text" name="content" class="field-light" rows="5" placeholder="{{ site.text.contact.content }}" style="resize: vertical"></textarea>
      </label>

      <input type="hidden" name="_next" value="{{ site.baseurl }}/thanks/" />
      <input type="hidden" name="_subject" value="{{ site.text.contact.subject }}" />
      <input type="text" name="_gotcha" style="display:none" />

      <input type="submit" class="button button-blue button-big mobile-block" value="{{ site.text.contact.submit }}">
    </form>
  {% endif %}
</div>

{% if site.ajaxify_contact_form %}
  {% include ajaxify_content_form.html %}
{% endif %}
