---
layout: default
title: News
permalink: index.html
---

<div class="home">
{% assign posts_count = site.categories.news | size %}
{% if posts_count < 10000  %}
    <div class="posts">
      {% for post in site.categories.news %}
        <div class="post py3">
          {% if post.image %}
          <a href="{{ post.url | prepend: site.baseurl }}" style="text-decoration: none" class="post-link">
            <img src="{{ post.image | prepend: site.baseurl }}" style="width:30%;float:right;">
          </a>
          {% endif %}
          {% if post.icon %}
          <a href="{{ post.url | prepend: site.baseurl }}" style="text-decoration: none" class="post-link">
            <img src="{{ post.icon | prepend: site.baseurl }}" style="width:30%;float:right;">
          </a>
          {% endif %}
          {% if post.alter_url %}
          <a href="{{ post.alter_url | prepend: site.baseurl }}" style="text-decoration: none" class="post-link">{{ post.title }}</a>
          {% else %}
          <a href="{{ post.url | prepend: site.baseurl }}" style="text-decoration: none" class="post-link">{{ post.title }}</a>
          {% endif %}
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>
{% else %}
    <ul>
        {% for post in site.categories.news %}
        <a href="{{ site.baseurl }}{{ post.url }}">
            <li>{{ post.title }} <small>{{ post.date | date_to_string }}</small></li>
        </a>
        {% endfor %}
    </ul>
{% endif %}
</div>
