<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <div style="width:100%">
      <a href="{{ site.baseurl }}/"><img src="{{site.baseurl}}/images/ADSI.png" style="width:30%;float:left;"></a>
      <a href="https://www.washington.edu/"><img src="{{site.baseurl}}/images/eScience.png" style="width:30%;float:right;"></a>
        <div style="clear: both;"></div>
      </div>
      
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
