<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <!-- <a href="{{ site.url }}" class="site-title">{{ site.title }}</a> -->
      <a href="{{ site.baseurl }}/"><img src="{{site.baseurl}}/images/ADSI.png" style="height:80px; margin:10px 20px"></a>
      <a href="https://www.washington.edu/" style="float:right;"><img src="{{site.baseurl}}/images/UW.png" style="height:100px; margin:0px 20px"></a>
      <br>
      
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
